<div class="list-container">
  <div class="header-actions">
    <h2>Club Member List</h2>
    <button [routerLink]="['/member-detail/new']" class="add-btn">+ Add New Member</button>
  </div>

  <table class="member-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
    </thead>
      <tbody>
          @for (m of members; track $index) {
              <tr>
                  <td>{{ m.firstName }}</td>
                  <td>{{ m.lastName }}</td>
                  <td>
                      <a [routerLink]="['/member-detail', m.id]">View/Modify</a>
                  </td>
              </tr>
          } @empty {
              <tr>
                  <td colspan="5" style="text-align: center; padding: 20px;">
                      No members found.
                  </td>
              </tr>
          }
      </tbody>
  </table>
</div>