<div class="list-container">
  <div class="header-actions">
    <h2>Club Member List</h2>
    <!-- This button redirects to the details page with no ID -->
    <button [routerLink]="['/member-detail/new']" class="add-btn">+ Add New Member</button>
  </div>
  
  <table class="member-table">
    <!-- ... table headers ... -->
    <tbody>
      <tr *ngFor="let m of members">
        <td>{{ m.firstName }}</td>
        <td>{{ m.lastName }}</td>
        <td>{{ m.sex }}</td>
        <td>{{ m.age }}</td>
        <td><a [routerLink]="['/member-detail', m.id]">View/Modify</a></td>
      </tr>
    </tbody>
  </table>
</div>